// Default variable overrides
$primary: #198754;
$container-max-widths: (
  sm: 560px,
  md: 780px,
  lg: 960px,
  xl: 1140px,
  xxl: 1420px
);


// Required
@import "../../node_modules/bootstrap/scss/functions";
// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";